.bundle
.DS_Store
.rvmrc
.sass-cache
bin/
config/database.yml
config/newrelic.yml
config/initializers/airbrake.rb
config/initializers/setup_email.rb
config/unicorn.conf
db/*.sqlite3
db/schema.*
log/*.log
tmp/
public/uploads
public/system
Guardfile
Gemfile.local
Gemfile.local.lock
.powenv
*.swp
